

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<style>


</style>

</head>

<body>
<nav class="navbar">
    <div class="logo"><a href="/"> <img src="{% static 'image/logo2.png' %}" alt="JMJ SOFTWARES" style="height:48px;object-fit:contain;margin-right:10px;border-radius:6px;vertical-align:middle;"> <span style="font-weight:700;color:white;font-size:1.05rem;margin-left:6px">JMJ SOFTWARES</span></a></div>
    <form method="GET" action="{% url 'chat_home' %}" class="search">

    <input 
    type="text" 
    name="user"
    placeholder="Search user to DM">

    <button type="submit">
        <i class="fas fa-search"></i>
    </button>

</form>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>

    <ul class="nav-links" id="navLinks">
        <li><a href="/">🏠  Home</a></li>
         <li><a href="/chat/">💬  CHAT</a></li>
        <li><a href="/livestreams/">🔴  Live</a></li>
        <li><a href="{% url 'notifications' %}">

🔔notification

{% if notification_count > 0 %}

<span class="badge">

{{notification_count}}

</span>

{% endif %}


</a></li>
        {% if user.is_authenticated %}
        <li><a href="https://johanes2005.onrender.com/admin/">🧑‍💻 Admin</a></li>
        <li><a href="/ai-assistant/">🤖  AI </a></li>
        <li><a href="/tutorials/">📖Tutorials</a></li>
        <li>
    <a href="{% url 'movies' %}">
        🎬 Movies
    </a>
</li>
<li>
<a href="{% url 'games' %}">
🎮 Games
</a>
</li>
           <li><a href="/logout/">🚪➡️Logout</a></li>
        {% else %}
            <li><a href="/about/">ℹ️  About</a></li>
            <li><a href="/contactus/">📞Contact</a></li>
            <li><a href="/login/">👤🔑Login</a></li>
            <li><a href="/register/">👥➕Register</a></li>
            <li><a href="/forgot-password/">👤🔑Forgot Password</a></li>
        {% endif %}
    </ul>
</nav>

    



<div class="chat-container">

    <!-- ================= SIDEBAR ================= -->

    <aside class="sidebar">

        <div class="sidebar-header">

            <h2>JMJ Chat</h2><br>
<form method="GET" action="{% url 'chat_home' %}" class="search">

    <input 
    type="text" 
    name="user"
    placeholder="Search user to DM">

    <button type="submit">
        <i class="fas fa-search"></i>
    </button>

</form>
          
        </div>

        <div class="user-list">

        {% for u in users %}
<a href="{% url 'chat_home' %}?room=pm_{{ request.user.username|lower }}_{{ u.username|lower }}"
class="user {% if selected_user == u %}active{% endif %}">
        {% if u.profile.avatar %}

<img src="{{ u.profile.avatar.url }}">

{% elif u.profile.avatar_choice %}

<img src="{% static 'profile/' %}{{ u.profile.avatar_choice }}">

{% else %}

<img src="{% static 'image/logo1.png' %}">

{% endif %}
            

            <div class="user-info" data-user-id="{{u.id}}">

                <div class="user-name-row">

    <div class="user-name">
        {{ u.username }}
    </div>

    <span
        class="dm-counter"
        id="dm-counter-{{ u.username }}"
        style="display:none;">
        0
    </span>

</div>

                <div class="last-message">

{% if u.profile.is_online %}

<span style="color:#00ff66">
● Online
</span>

{% else %}

<span style="color:red">
● Offline
</span>

{% endif %}


</div>

            </div>

        </a>

        {% empty %}

        <div class="empty-users">

            No users found

        </div>

        {% endfor %}

        </div>

    </aside>



    <!-- ================= CHAT ================= -->

    <main class="chat-area">

{% if is_public or selected_user %}
  <div class="chat-header">

    <button 
    id="back-popup"
    class="popup-btn">
    Back
</button>

<input 
type="hidden"
id="previous-page"
value="{{ request.session.previous_page }}">
    <div class="chat-toolbar">

       <select id="page-chat-scope">

    <option
        value="public"
        {% if room_name == "public" %}selected{% endif %}>
        🌍 Public Room
    </option>

    <option
        value="private"
        {% if room_name != "public" %}selected{% endif %}>
        🔒 Private Chat
    </option>

</select>
<select id="page-chat-target">

    <option value="">
        Select Friend
    </option>

    {% for u in users %}

    <option
        value="{{ u.username }}"
        {% if selected_user == u %}selected{% endif %}>

        {{ u.username }}

    </option>

    {% endfor %}

</select>

       
    </div>
       

{% if is_public %}

    <img src="{% static 'image/logo2.png' %}">

    <div>
        <h3>Public Chat</h3>
        <small>🌍 Everyone</small>
    </div>

{% elif selected_user %}
{% if selected_user.profile.avatar %}

<img src="{{ selected_user.profile.avatar.url }}">

{% elif selected_user.profile.avatar_choice %}

<img src="{% static 'profile/' %}{{ selected_user.profile.avatar_choice }}">

{% else %}

<img src="{% static 'image/logo1.png' %}">

{% endif %}
    
    <div>
        <h3>{{ selected_user.username }}</h3>
        {% if selected_user.profile.is_online %}

<small style="color:green">
● Online
</small>

{% else %}

<small style="color:red">
● Offline
</small>

{% endif %}
    </div>

{% endif %}

        </div>

     <div 
class="messages"
id="page-chat-messages"
style="
--profile:url(
'{% if request.user.profile.avatar %}
{{ request.user.profile.avatar.url }}

{% elif request.user.profile.avatar_choice %}
{% static 'profile/' %}{{ request.user.profile.avatar_choice }}

{% else %}
{% static 'image/logo1.png' %}

{% endif %}'
)
">
{% for msg in messages %}

<div class="message {% if msg.sender == request.user %}outgoing{% else %}incoming{% endif %}">

    <div class="message-avatar">
        {% if msg.sender.profile.avatar %}
            <img src="{{ msg.sender.profile.avatar.url }}">
        {% elif msg.sender.profile.avatar_choice %}
            <img src="{% static 'profile/' %}{{ msg.sender.profile.avatar_choice }}">
        {% else %}
            <img src="{% static 'image/logo1.png' %}">
        {% endif %}
    </div>

    <div class="bubble">
        {{ msg.message }}
    </div>

</div>

{% endfor %}
</div>

<div class="chat-input">
    <div class="plus-container">

        <button
            type="button"
            id="page-plus-btn"
            class="icon-btn">
            +
        </button>

        <div id="page-upload-menu">

            <label>

                📷 Image

                <input
                    type="file"
                    id="page-image-upload"
                    accept="image/*"
                    hidden>

            </label>

            <label>

                📁 File

                <input
                    type="file"
                    id="page-file-upload"
                    hidden>

            </label>

        </div>

    </div>

    <button
        type="button"
        id="emoji-btn"
        class="icon-btn">
        😊
    </button>
    <div id="emoji-picker">
<span class="emoji-swatch">😀</span>
						<span class="emoji-swatch">😁</span>
						<span class="emoji-swatch">😂</span>
						<span class="emoji-swatch">🤣</span>
						<span class="emoji-swatch">😊</span>
						<span class="emoji-swatch">🙂</span>
						<span class="emoji-swatch">😉</span>
						<span class="emoji-swatch">😍</span>
						<span class="emoji-swatch">😘</span>
						<span class="emoji-swatch">😎</span>
						<span class="emoji-swatch">🤩</span>
						<span class="emoji-swatch">🤔</span>
						<span class="emoji-swatch">😅</span>
						<span class="emoji-swatch">😭</span>
						<span class="emoji-swatch">😡</span>
						<span class="emoji-swatch">😴</span>
						<span class="emoji-swatch">🤝</span>
						<span class="emoji-swatch">👍</span>
						<span class="emoji-swatch">👎</span>
						<span class="emoji-swatch">🎉</span>
						<span class="emoji-swatch">🔥</span>
						<span class="emoji-swatch">🚀</span>
						<span class="emoji-swatch">❤️</span>
						<span class="emoji-swatch">🙏</span>
						<span class="emoji-swatch">🥳</span>
						<span class="emoji-swatch">🤗</span>
						<span class="emoji-swatch">🤖</span>
						<span class="emoji-swatch">🫶</span>
						<span class="emoji-swatch">💯</span>
						<span class="emoji-swatch">🔔</span>
    </div>

    <form id="page-chat-form">

       <textarea
    id="page-chat-input"
    rows="1"
    placeholder="Type a message..."></textarea>
        <button
            type="button"
            id="page-voice-record"
            class="icon-btn">
            🎤
        </button>

        <button
      type="button"
    id="page-chat-send">
➤
</button>
    </form>

</div>
        

{% else %}

<div class="welcome-screen">

<img src="{% static 'image/logo2.png' %}">

<h3>Welcome to JMJ Chat</h3>

<h3>Select a user to start chatting.</h3>

</div>

{% endif %}

    </main>

</div>

<input
type="hidden"
id="current-user"
value="{{ request.user.username }}">

<input
type="hidden"
id="chat-room"
value="{{ room_name }}">

<script src="{% static 'js/chat_widget.js' %}"></script>

</body>


</html>