mpira
https://www.score808live.tv/
https://www.dazn.com/

pdf
https://pdfdrive.webs.nf/
habari
https://famelack.com/tv/tz/LuoJJuzfa9CVTw

games
https://romsfun.com/
https://classicgamezone.com/
https://slowroads.io/#A0-3913c75e@0.30
https://game.play-cs.com/en/cs_mansion/27035/ru
https://ankergames.net/top-games
https://quenq.com/
https://gamesleech.com/pc-games/
https://www.apunkagames.net/
movie
https://www.imdb.com/title/tt27419466/?ref_=nv_srb_trend_title_6
https://netmirrors.org/app-download/
  https://www.netprime.to/netflix
  https://reezn.org/
  https://supernova.to/
  https://www.viki.com/
  pirate bay
  https://www.google.com/search?q=yts&rlz=1C1GCEA_enTZ1218TZ1218&oq=yts&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiPAtIBCDM0NDZqMGo3qAIAsAIA&sourceid=chrome&source=chrome.ob&ie=UTF-8
https://github.com/p-stream
multpuporse
https://tbcpl.lol/
https://www.google.com/search?q=filecr&rlz=1C1GCEA_enTZ1218TZ1218&oq=filecr&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiABDIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIHCAcQABiABDIHCAgQABiABDIHCAkQABiABNIBCTE2MjY2ajBqNKgCALACAA&sourceid=chrome&source=chrome.ob&ie=UTF-8
https://www.tv5mondeplus.com/en/search
https://vidbox.vc/home
https://movienova.sc/
https://cinespot.to/
 

APPS 
https://filecr.com/home/
https://filehippo.com/

football
https://www.camel1.tv/
https://www.livesports088.is/
https://kooora4lives.co/kora-online