{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Set New Password</title>
</head>
<body>
<nav class="navbar">
    <div class="logo"><a href="/"> <img src="{% static 'image/logo2.png' %}" alt="JMJ SOFTWARES" style="height:48px;object-fit:contain;margin-right:10px;border-radius:6px;vertical-align:middle;"> <span style="font-weight:700;color:white;font-size:1.05rem;margin-left:6px">JMJ SOFTWARES</span></a></div>
    <form method="GET" action="/search/" class="search-form">
    <input type="text" name="q" placeholder="Search tools, tutorials..." />
    <button type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>

    <ul class="nav-links" id="navLinks">
        <li><a href="/">🏠  Home</a></li>
         <li><a href="/chat/">💬  CHAT</a></li>
        <li><a href="/livestreams/">🔴  Live</a></li>
        <li><a href="{% url 'notifications' %}">

🔔notification

{% if notification_count > 0 %}

<span class="badge">

{{notification_count}}

</span>

{% endif %}


</a></li>
        {% if user.is_authenticated %}
        <li><a href="https://johanes2005.onrender.com/admin/">🧑‍💻 Admin</a></li>
        <li><a href="/ai-assistant/">🤖  AI </a></li>
        <li><a href="/tutorials/">📖Tutorials</a></li>
           <li><a href="/logout/">🚪➡️Logout</a></li>
        {% else %}
            <li><a href="/about/">ℹ️  About</a></li>
            <li><a href="/contactus/">📞Contact</a></li>
            <li><a href="/login/">👤🔑Login</a></li>
            <li><a href="/register/">👥➕Register</a></li>
            <li><a href="/forgot-password/">👤🔑Forgot Password</a></li>
        {% endif %}
    </ul>
</nav>

<div class="box" style="max-width:520px;margin:110px auto 30px;padding:22px;background:#fff;border-radius:10px;border:8px solid #a0c4c2">
    {% if validlink %}
        <h2>Set New Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    {% else %}
        <p>The validation link is not valid.</p>
    {% endif %}
</div>

{% include 'partials/contact.html' %}
{% include 'partials/footer.html' %}
</body>
</html>