:root{

--primary:#3b82f6;

--background:#121e3b;

--card:rgba(15,23,42,.75);

}


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;

}



body{

background:var(--background);

color:white;

min-height:100vh;

}



/* NAVBAR */


.navbar{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 25px;

background:rgba(0,0,0,.7);

backdrop-filter:blur(10px);

z-index:1000;

}



.logo img{

height:45px;

vertical-align:middle;

border-radius:8px;

}


.logo span{

color:white;

font-weight:bold;

font-size:20px;

}



.nav-links{

display:flex;

list-style:none;

gap:15px;

}



.nav-links a{

color:white;

text-decoration:none;

padding:8px 12px;

border-radius:8px;

}



.nav-links a:hover,
.active{

background:#3b82f6;

}



.menu-toggle{

display:none;

font-size:30px;

cursor:pointer;

}





/* REGISTER */


.register-container{

padding-top:130px;

display:flex;

justify-content:center;

align-items:center;

padding-bottom:50px;

}



.register-card{


width:95%;

max-width:450px;

background:var(--card);

padding:35px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 10px 30px black;

}



.register-header{

text-align:center;

margin-bottom:30px;

}


.register-header i{

font-size:50px;

color:#3b82f6;

}



.register-header h1{

margin:15px 0;

}




.input-box{

margin-bottom:20px;

}



.input-box label{

display:block;

margin-bottom:8px;

color:#cbd5e1;

}



.input-box input{


width:100%;

padding:14px;

border:none;

outline:none;

border-radius:10px;

background:#1e293b;

color:white;

}



.password-box{

display:flex;

gap:5px;

}



.password-box button{

background:#3b82f6;

border:none;

color:white;

width:50px;

border-radius:10px;

cursor:pointer;

}




.error{

margin-top:8px;

background:#450a0a;

color:#fca5a5;

padding:8px;

border-radius:8px;

font-size:14px;

}




.register-btn{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#3b82f6;

color:white;

font-size:18px;

cursor:pointer;

}



.register-btn:hover{

background:#2563eb;

}




.login-link{

text-align:center;

margin-top:20px;

}



.login-link a{

color:#60a5fa;

}




.badge{

background:red;

border-radius:50%;

padding:3px 8px;

}





@media(max-width:768px){


.menu-toggle{

display:block;

}



.nav-links{

display:none;

position:absolute;

top:70px;

left:0;

width:100%;

background:#111827;

flex-direction:column;

padding:20px;

}



.nav-links.active{

display:flex;

}



.nav-links li{

text-align:center;

}



.register-card{

padding:25px;

}



}



@media(max-width:400px){


.register-card{

width:90%;

}



.logo span{

font-size:15px;

}



}